{% extends 'app/base.html' %}

{% block index %}
  <body class="bg-warning">
        <div>  
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="bg-dark text-white border-dark rounded" style="padding: 2%; height: 100%;">
                            <h4 class=" text-center mt-1 mb-3">Categorias</h4>
                            {% for c in categories %}
                                <h5 class="mt-1 border border-white bg-secondary text-center">{{ c.category_name }}</h5>
                            {% endfor %}
                        </div>    
                    </div>
                    <div class="col-9">        
                        {% block contenido %}
                        {% endblock %}
                    </div>  

                </div>
            </div>
        </div>
    </body>

{% endblock %}
