{%extends 'app/base.html' %}

{% block index %}


<div>
    <div class="col">
        <div class="col-12 col-md-6 offset-md-3">
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="col-12 col-md-6 offset-md-3">
                        <div class="row">
                            <h1>Register</h1>
                            <hr>
                            <form action="" class="" method="post">
                                {% csrf_token %}
                                {{ form }}
                                
                                <br>
                                <div class="dflex justify-content-center offset-md-3">
                                    <button type="submit" class="btn btn-secondary">Register</button>                       
                                    
                                    
                                </div>        
        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
{% endblock %}